@import url(//db.onlinewebfonts.com/c/d047865e0008f13cd1aa6146e29cb6bc?family=FV+Almelo);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
html { overflow-y: scroll; }
body {
background-color: white; 
font-family: 'Roboto Condensed';
font-weight: 400;
}
.navbar {
padding-top: 15px;
padding-bottom: 15px;
border-bottom: 1px solid lightgrey;
}
.btn-dark:hover{
background-color: #52565a;
border: 1px solid #52565a;   
}
.break{
padding-top: 70px;
}
.break2{
padding-top: 50px;
}
.break3{
padding-top: 20px;
}
.main{
text-align: center;
}
.main img{
max-width: 100%;
}
.footer {
color: grey;
text-align: center;
font-size: 11pt;
padding-bottom: 15px;
}
.buttonwhite {
background-color:white; 
border: 2px solid #52565a;
color: #52565a;
padding: 12px 28px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 14px;
text-transform: uppercase;
}
.buttonwhite:hover {
background-color:#f9f9f9; 
border: 2px solid #52565a;
color: #52565a;
padding: 12px 28px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 14px;
text-transform: uppercase;
}
.card {
background-color: #e4e4e4;
}
.label {
background-color:white;
border: 2px solid #52565a;
color: #52565a;
width: 85%;
padding: 10px 38px;
text-align: center;
text-decoration: none;
display: inline-block;
}